#minimalist {
  border-top: 1.5px solid #f1f1f1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  padding: 0;
  box-shadow: 1px 4px 2px 3px #f1f1f1;
}

#minimalist li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  border-bottom: solid 1.5px #f1f1f1;
}

#minimalist li label {
  width: 85%;
}

#minimalist input[type=text] {
  font-family: cursive;
  border: none;
  width: 95%;
  outline: none;
}

.save-task {
  color: #000;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.save-task:hover {
  color: #fff;
  background-color: green;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.description p {
  background-color: blue;
  width: 85%;
  display: inline-block;
}

#minimalist li p {
  padding: 0;
  margin: 0;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.appHeader h1 {
  padding: 0;
  margin: 0;
  font-size: medium;
}

.drag-around {
  cursor: all-scroll;
}

#clear-all div {
  color: #666;
  width: 100%;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.remove-item {
  font-size: small;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  color: #fcc;
  background-color: brown;
  cursor: pointer;
}

.description p input {
  display: inline-block;
  background: bisque;
  width: 95%;
  margin-bottom: 4px;
}
